<div class="main-page">
  <a href="/learn">
    <button class="learn-button">가르치러 가기</button>
  </a>
  <section class="chat">
    <div class="right">
      <div class="profile">
        <div class="icon"></div>
        <div class="name">유저</div>
      </div>
      <div class="balloon">
        <div class="tail"></div>
        <div class="text">안녕</div>
      </div>
    </div>
    <div class="left">
      <div class="profile">
        <div class="icon"></div>
        <div class="name">심심이</div>
      </div>
      <div class="balloon">
        <div class="tail"></div>
        <div class="text">반가워!</div>
      </div>
    </div>
  </section>
  <form action="/talker" method="post" class="chat-form">
    <input type="text" placeholder="입력..." name="ask" required>
    <input type="submit" value="전송">
  </form>
</div>
